.bubble
{
    position: relative;
    min-height: 100px;
    width: 60%;
    padding: 0px;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 3%;
    float:left;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 25px;
}
.bubble p{
    padding:1%;
}
.rightbubble p{
    padding:1%;
}
.round{
    border-radius: 150px;
    margin-right: 3%;
    float:left;
}
.round.right{
    float:left;
}
.rightbubble
{
position: relative;
min-height: 100px;
width: 60%;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float:right;
margin-top: 3%;
margin-right: 3%;
}

.rightbubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 20px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -20px;
top: 25px;
}
